<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Soprema" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
  <div class="bg-white p-1">

        <!-- Navbar & Hero Start -->
        <div class="position-relative p-1">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0 sticky-top">
              <img src="https://www.soprema.fr/static/version1755796522/frontend/Soprema/master/default/images/logo-soprema-standard.svg" style="max-height:40px;" alt="Logo">

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
              </button>

              <div class="collapse navbar-collapse text-center" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0 pe-4">
                  <a href={~p"/"} class="nav-item nav-link active">Accueil</a>
                  <a href={~p"/produit"} class="nav-item nav-link">Produits</a>
                  <a href={~p"/contact"} class="nav-item nav-link">Contact</a>
                </div>
                <!-- Champ de recherche masqué par défaut -->
               <form id="searchForm" class="d-none me-3" role="search" method="get" action="/recherche">
                    <input id="searchInput" name="find" class="form-control" type="search" placeholder="Rechercher..." aria-label="Search">
                </form>

                    <!-- Bouton recherche -->
                <button id="searchToggle" class="btn btn-primary py-2 px-4 rounded-pill" type="button">
                    Rechercher
                </button>

              </div>
            </nav>

        </div>
        <!-- Navbar & Hero End -->
        <section class="section mt-0 mt-md-1 bg-white d-flex flex-column custom-height">
          {@inner_content}
        </section>

        <style>
          .custom-height {
            min-height: 90vh; /* 80% de la hauteur de l’écran */
          }
        </style>

        <script>
         document.addEventListener("DOMContentLoaded", function() {
          const toggleButton = document.getElementById("searchToggle");
          const searchForm = document.getElementById("searchForm");
          const searchInput = document.getElementById("searchInput");

          toggleButton.addEventListener("click", () => {
            // Si le formulaire est masqué, on l'affiche et on focus
            if (searchForm.classList.contains("d-none")) {
              searchForm.classList.remove("d-none");
              searchInput.focus();
            } else {
              // Si le formulaire est visible, on l'envoie
              searchForm.submit();
            }
          });
        });
        </script>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    </div>
    
    <!-- Footer Start -->
    <div class="container-fluid text-light footer d-none d-md-block" data-wow-delay="0.1s" style="color: black; bottom: 0; width: 100%; max-height: 10rem;background-color: black;max-height: 10rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">A propos</h5>
                    <a class="btn btn-link" href="">Produits</a>
                    <a class="btn btn-link" href="">Contact</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">Informations utiles</h5>
                    <a class="btn btn-link" href="">Espace presse</a>
                    <a class="btn btn-link" href="">Rapport DPEF 2025</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">Outils et ressources</h5>
                    <a class="btn btn-link" href="">Rechercher</a>
                    <a class="btn btn-link" href="">Fondation Solar Impulse</a>
                </div>
            </div>
            <div class="container justify-content-center text-center align-items-center">
                <span>© 2025 Soprema-nmc. Tous droits réservés. | Site créé par Alita
                </span>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Footer Start (Mobile) -->
      <div class="container-fluid text-light footer d-block d-md-none py-4" style="background-color: black; width: 100%;">
        <div class="container text-center">
          <!-- Section A propos -->
          <div class="mb-3">
            <h5 class="section-title ff-secondary text-primary fw-normal">A propos</h5>
            <a class="btn btn-link d-block" href="">Notre entreprise</a>
            <a class="btn btn-link d-block" href="">Nos marques</a>
          </div>

          <!-- Section Informations utiles -->
          <div class="mb-3">
            <h5 class="section-title ff-secondary text-primary fw-normal">Informations utiles</h5>
            <a class="btn btn-link d-block" href="">Espace presse</a>
            <a class="btn btn-link d-block" href="">Rapport DPEF 2025</a>
          </div>

          <!-- Section Outils et ressources -->
          <div class="mb-3">
            <h5 class="section-title ff-secondary text-primary fw-normal">Outils et ressources</h5>
            <a class="btn btn-link d-block" href="">Nos engagements</a>
            <a class="btn btn-link d-block" href="">Fondation Solar Impulse</a>
          </div>

          <!-- Mention légale -->
          <div class="container justify-content-center text-center align-items-center">
                <span>© 2025 Soprema-nmc. Tous droits réservés. | Site créé par Alita
                </span>
            </div>
        </div>
      </div>
      <!-- Footer End -->
  </body>
</html>
